#container{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: center; 
  padding-block-start: 40px;
}

.buttons{
   width:500px;
}

#signup{
  padding-block-end: 100px;
}

.form-control{
  font: white;
}